/* CSS for app */

.btnGreen{
    -fx-background-color:  #3cbc53;
}

.background{
    -fx-background-color: #ffffff;
}

.button{
    -fx-background-color: #ffffff;
}

.buttonSave{
    -fx-background-color: #6A82FB;
}

.buttonLogout{
    -fx-background-color: #6A82FB;
}

.hiddenMenu{
    margin-left:-300px;
}

