<h3><i class="fas fa-file-invoice"></i>Fiches métier</h3>
<p-accordion>
  <p-accordionTab header="Comédien/ne">
    <div class="infosMetier">
      <br>
      <h3><i class="fas fa-male"></i> Comédien/nne</h3>
      <h4>En quoi consiste ce métier ?</h4>
      <p>Pour être comédien, il faut non seulement avoir du talent mais aussi beaucoup de technique ! C'est pourquoi les professionnels conseillent de passer par une école (renommée de préférence) et de monter sur scène le plus tôt et le plus
        souvent possible. C'est un métier passionnant où la routine n'a pas sa place : chaque contrat apporte une nouvelle aventure. Les comédiens exercent le plus souvent au théâtre, mais ils peuvent aussi trouver des contrats dans d'autres
        domaines d'activité : cinéma, télévision, doublage, radio, publicité, etc. Les conditions de travail sont difficiles : horaires décalés, déplacements fréquents (tournées, festivals, promotions...) et revenus aléatoires. Le plus souvent,
        des périodes de chômage alternent avec des phases d'activité. Dans ce métier, les places sont chères, il faut sans arrêt être à la recherche d'un contrat, courir les castings et les auditions, développer des contacts professionnels...
        C'est pourquoi motivation et persévérance sont des qualités primordiales pour réussir.</p> <br>
    </div>
    <div class="formations">
      <h4>Les formations et les diplômes</h4>
      <p>
        Après la 3e : 2 ans pour préparer le DNOP d'art dramatique dans un conservatoire. <br>
        Après le bac : 3 ans pour obtenir un certificat d'école en art dramatique ou le DNSP de comédien. <br>
        Bac ou équivalent : Diplôme d'études théâtrales ou Diplôme national d'orientation professionnelle d'art dramatique <br>
        Bac + 1 : Année préparatoire à la formation d'école privée de comédiens <br>
        Bac + 2 : Classe d'art dramatique (niveau III) ou DEUST Formation de base aux métiers du théâtre ou DEUST Théâtre ou Formation de comédien (école privée d'art dramatique)
        Bac + 3 : Comédien professionnel ou
        Diplôme de l'Ensatt parcours acteur ou
        Diplôme national supérieur professionnel de comédien ou
        Licence arts du spectacle ou
        Licence pro activités culturelles et artistiques spécialité encadrement d'ateliers de pratiques théâtrales ou
        Licence pro techniques et activités de l'image et du son spécialité scénographie théâtrale et événementielle <br>

        Bac + 5 : Master arts de la scène et du spectacle vivant
      </p><br>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Chanteur/euse">
    <div class="infosMetier">
      <br>
      <h3><i class="fas fa-microphone"></i> Chanteur/euse</h3>
      <h4>En quoi consiste ce métier ?</h4>
      <p>L'opéra, la chanson poétique, le jazz, le rock ou la variété sont autant de voies pour une seule voix ! Ne devient pas chanteur soliste qui veut : il faut du talent et beaucoup de travail. Suivre des cours de chant et répéter seul ou avec
        un groupe. Le tout en suivant une certaine hygiène de vie pour éviter les refroidissements, maîtriser le trac, etc. Le chanteur doit être musicien, pouvoir mémoriser les partitions (paroles et notes), travailler l'interprétation d'un rôle
        selon une mise en scène (opéra, comédie musicale), et être polyglotte afin de chanter en anglais, allemand, italien, russe, par exemple. S'il n'est pas auteur-compositeur, le chanteur de variétés doit en outre trouver un parolier et un
        musicien.
        Pour tous ces intermittents du spectacle, le plus difficile est d'approcher le public. Les uns courent les auditions, les concours et les festivals pour se faire connaître, sans parler des émissions de télé. Les autres démarchent les
        maisons de disques pour enregistrer un album, cherchent des financements pour se produire en concert ou diffuser leur musique sur Internet. S'il est difficile de percer, il est encore plus difficile de durer. Pour gérer sa carrière, le
        chanteur peut se faire aider par un agent artistique.
      </p><br>
    </div>
    <div class="formations">
      <h4>Les formations et les diplômes</h4>
      <p>
        Après la 3e : La formation musicale classique s'acquiert dans un conservatoire départemental ou régional dès l'âge de 6 ans, et parallèlement à la scolarité. <br>
        Après le bac : Les meilleurs intégreront un conservatoire national supérieur de musique et de danse ou l'École d'art lyrique de l'opéra (à Paris ou à Lyon).
      </p><br>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Danseur/euse">
    <div class="infosMetier">
      <br>
      <h3><i class="fas fa-female"></i> Danseur/euse</h3>
      <h4>En quoi consiste ce métier ?</h4>
      <p>Danse classique, contemporaine, orientale, jazz, claquettes, cabaret, hip-hop : tous les genres sont possibles. Le métier de danseur se vit comme une passion, un mode de vie, un art, où la sensation d'avoir quelque chose à transmettre
        prime sur la performance. Mais la technique n'est pas à négliger. Danser demande du talent, certes, mais aussi beaucoup de travail, d'efforts et de persévérance. Le corps est soumis à rude épreuve, de même que le mental. Car le danseur
        enchaîne échauffements, auditions, répétitions et représentations dans un esprit de compétition. La carrière est intense et courte : les danseurs se reconvertissent après 40 ans, devenant enseignant, chorégraphe ou administrateur.
      </p><br>
    </div>
    <div class="formations">
      <h4>Les formations et les diplômes</h4>
      <p>
        Après la 3e : La danse s'apprend en conservatoire dès l'âge de 6 ans, et parallèlement à la scolarité. Les meilleurs intégreront l'école de danse de l'Opéra de Paris, les conservatoires nationaux supérieurs de musique et de danse de Paris
        et de Lyon, etc.<br>
        Bac ou équivalent : Bac techno Techniques de la musique et de la danse option danse ou Diplôme d'études chorégraphiques ou Diplôme national d'orientation professionnelle de danse<br>
        Bac + 3 : Diplôme national supérieur professionnel de danseur<br>
        Bac + 4 : Diplôme de 2nd cycle supérieur de notation du mouvement du CNSMD de Paris<br>
        Bac + 5 : Master danse<br>
      </p><br>
    </div>
  </p-accordionTab>
</p-accordion>
