<h3><i class="fas fa-file-signature"></i>Conseils</h3>


<p-accordion>
  <p-accordionTab header="Vidéo conseils">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/OmfjhtPaeco" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </p-accordionTab>
  <p-accordionTab header="Comment s'habiller pour passer un casting">
    <p>Soignez votre tenue ! Ayez des cheveux et des vêtements propres ! Et ne forcez pas trop sur le maquillage.
      Si vous ne savez pas exactement de quel rôle il s'agit, l'idéal est de porter une tenue neutre. Le plus neutre
      possible mais qui bien entendu, vous mettra en valeur.
      Non seulement votre talent et votre personnalité parleront pour vous mais les responsables de casting pourront
      aussi vous imaginer plus facilement dans plusieurs emplois.
      Si vous savez quel type de personnage vous devez interpréter, travaillez sur une personnalité, une attitude, un
      comportement, et habillez-vous et maquillez-vous dans le sens du rôle.
      Par exemple si l'on recherche une mondaine sophistiquée, ne vous présentez pas en jean troué, débardeur de
      camionneur et baskets. Pour ce casting relevez vos cheveux et portez une robe et des talons hauts.
      S'il s'agit d’un casting pour une émission de télévision, renseignez-vous pour savoir quel style de personnes les
      producteurs recherchent.
      Si vous ne correspondez pas du tout au profil, n'y allez pas ! Ne faites pas perdre du temps aux responsables des
      castings.</p> <br>
  </p-accordionTab>
  <p-accordionTab header="Comment les convaincre">
    <p>Soyez drôle, soyez sympathique, souriant, agréable, et sans en faire trop, démontrez votre talent en peu de
      temps.
      Faites preuve d'imagination, d'originalité et de fantaisie tout en restant vous-même !
      Car si passer un casting peut ressembler à un entretien d’embauche, s'il faut prendre moment avec sérieux, ne
      soyez pas que sérieux!
      On a beau vous trouver la femme ou l'homme le plus séduisant et le plus génial de la terre, seul le responsable de
      casting devra en être convaincu.
      Et c'est triste à dire mais avant vous et après vous, dans la même journée on le mettra en présence d'hommes et de
      femmes, parfois des centaines, se jugeant aussi talentueux que vous.
    </p><br>
  </p-accordionTab>
</p-accordion>
