<!-- <h1 class="ongletInfos" (click)="toggleInfos()">Infos pratiques</h1> -->

<div *ngIf="fichesFull" class="fiches">
  <h3><img src="assets/logo-fiches.png">Fiches métier</h3>
  <p-accordion>
    <p-accordionTab header="Commédien/ne">
      <div class="infosMetier">
        <h4>En quoi consiste ce métier ?</h4>
        <p>Pour être comédien, il faut non seulement avoir du talent mais aussi beaucoup de technique ! C'est pourquoi les professionnels conseillent de passer par une école (renommée de préférence) et de monter sur scène le plus tôt et le plus
          souvent possible. C'est un métier passionnant où la routine n'a pas sa place : chaque contrat apporte une nouvelle aventure. Les comédiens exercent le plus souvent au théâtre, mais ils peuvent aussi trouver des contrats dans d'autres
          domaines d'activité : cinéma, télévision, doublage, radio, publicité, etc. Les conditions de travail sont difficiles : horaires décalés, déplacements fréquents (tournées, festivals, promotions...) et revenus aléatoires. Le plus souvent,
          des périodes de chômage alternent avec des phases d'activité. Dans ce métier, les places sont chères, il faut sans arrêt être à la recherche d'un contrat, courir les castings et les auditions, développer des contacts professionnels...
          C'est pourquoi motivation et persévérance sont des qualités primordiales pour réussir.</p> <br>
      </div>
      <div class="formations">
        <h4>Les formations et les diplômes</h4>
        <p>
          Après la 3e : 2 ans pour préparer le DNOP d'art dramatique dans un conservatoire. <br>
          Après le bac : 3 ans pour obtenir un certificat d'école en art dramatique ou le DNSP de comédien. <br>
          Bac ou équivalent : Diplôme d'études théâtrales ou Diplôme national d'orientation professionnelle d'art dramatique <br>
          Bac + 1 : Année préparatoire à la formation d'école privée de comédiens <br>
          Bac + 2 : Classe d'art dramatique (niveau III) ou DEUST Formation de base aux métiers du théâtre ou DEUST Théâtre ou Formation de comédien (école privée d'art dramatique)
          Bac + 3 : Comédien professionnel ou
          Diplôme de l'Ensatt parcours acteur ou
          Diplôme national supérieur professionnel de comédien ou
          Licence arts du spectacle ou
          Licence pro activités culturelles et artistiques spécialité encadrement d'ateliers de pratiques théâtrales ou
          Licence pro techniques et activités de l'image et du son spécialité scénographie théâtrale et événementielle <br>

        Bac + 5 : Master arts de la scène et du spectacle vivant
        </p><br>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Chanteur/euse">
      <div class="infosMetier">
        <h4>En quoi consiste ce métier ?</h4>
        <p>L'opéra, la chanson poétique, le jazz, le rock ou la variété sont autant de voies pour une seule voix ! Ne devient pas chanteur soliste qui veut : il faut du talent et beaucoup de travail. Suivre des cours de chant et répéter seul ou avec
          un groupe. Le tout en suivant une certaine hygiène de vie pour éviter les refroidissements, maîtriser le trac, etc. Le chanteur doit être musicien, pouvoir mémoriser les partitions (paroles et notes), travailler l'interprétation d'un rôle
          selon une mise en scène (opéra, comédie musicale), et être polyglotte afin de chanter en anglais, allemand, italien, russe, par exemple. S'il n'est pas auteur-compositeur, le chanteur de variétés doit en outre trouver un parolier et un
          musicien.
          Pour tous ces intermittents du spectacle, le plus difficile est d'approcher le public. Les uns courent les auditions, les concours et les festivals pour se faire connaître, sans parler des émissions de télé. Les autres démarchent les
          maisons de disques pour enregistrer un album, cherchent des financements pour se produire en concert ou diffuser leur musique sur Internet. S'il est difficile de percer, il est encore plus difficile de durer. Pour gérer sa carrière, le
          chanteur peut se faire aider par un agent artistique.
        </p><br>
      </div>
      <div class="formations">
        <h4>Les formations et les diplômes</h4>
        <p>
          Après la 3e : La formation musicale classique s'acquiert dans un conservatoire départemental ou régional dès l'âge de 6 ans, et parallèlement à la scolarité. <br>
          Après le bac : Les meilleurs intégreront un conservatoire national supérieur de musique et de danse ou l'École d'art lyrique de l'opéra (à Paris ou à Lyon).
        </p><br>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Danseur/euse">
      <div class="infosMetier">
        <h4>En quoi consiste ce métier ?</h4>
        <p>Danse classique, contemporaine, orientale, jazz, claquettes, cabaret, hip-hop : tous les genres sont possibles. Le métier de danseur se vit comme une passion, un mode de vie, un art, où la sensation d'avoir quelque chose à transmettre
          prime sur la performance. Mais la technique n'est pas à négliger. Danser demande du talent, certes, mais aussi beaucoup de travail, d'efforts et de persévérance. Le corps est soumis à rude épreuve, de même que le mental. Car le danseur
          enchaîne échauffements, auditions, répétitions et représentations dans un esprit de compétition. La carrière est intense et courte : les danseurs se reconvertissent après 40 ans, devenant enseignant, chorégraphe ou administrateur.
        </p><br>
      </div>
      <div class="formations">
        <h4>Les formations et les diplômes</h4>
        <p>
          Après la 3e : La danse s'apprend en conservatoire dès l'âge de 6 ans, et parallèlement à la scolarité. Les meilleurs intégreront l'école de danse de l'Opéra de Paris, les conservatoires nationaux supérieurs de musique et de danse de Paris
          et de Lyon, etc.<br>
          Bac ou équivalent : Bac techno Techniques de la musique et de la danse option danse ou Diplôme d'études chorégraphiques ou Diplôme national d'orientation professionnelle de danse<br>
          Bac + 3 : Diplôme national supérieur professionnel de danseur<br>
          Bac + 4 : Diplôme de 2nd cycle supérieur de notation du mouvement du CNSMD de Paris<br>
          Bac + 5 : Master danse<br>
        </p><br>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<div *ngIf="interviewsFull" class="interviews">
  <h3><img src="assets/logo-interviews.png">Interviews</h3>
  <p-accordion>
    <p-accordionTab header="Tout savoir sur les castings">
      <p>
        Dans cette interview, un professionnel vous explique ce qu'est un casting.
      </p> <br>
      <img src="assets/interview.jpg">
    </p-accordionTab>
    <p-accordionTab header="Où trouver un casting">
      <p>
        Dans cette interview, un professionnel vous explique comment trouver un casting.
      </p><br>
      <img src="assets/interview.jpg">
    </p-accordionTab>
    <p-accordionTab header="Comment se passe un casting">
      <p>Dans cette interview, un professionnel vous explique comment se passe un casting.
      </p><br>
      <img src="assets/interview.jpg">
    </p-accordionTab>
  </p-accordion>
</div>

<div *ngIf="conseilsFull" class="conseils">
  <h3><img src="assets/logo-conseils.png">Conseils</h3>
  <p-accordion>
    <p-accordionTab header="Comment s'habiller pour passer un casting">
      <p>Soignez votre tenue ! Ayez des cheveux et des vêtements propres ! Et ne forcez pas trop sur le maquillage.
        Dans le but de vous faire remarquer par les responsables du casting vous pouvez évidemment être tenté de vous habiller de façon trop sexy, mais cela serait une erreur : vous risqueriez d'être cataloguer dans un style, qui est assez limité.
        Si vous ne savez pas exactement de quel rôle il s'agit, l'idéal est de porter une tenue neutre. Le plus neutre possible mais qui bien entendu, vous mettra en valeur.
        Non seulement votre talent et votre personnalité parleront pour vous mais les responsables de casting pourront aussi vous imaginer plus facilement dans plusieurs emplois.
        Si vous savez quel type de personnage vous devez interpréter, travaillez sur une personnalité, une attitude, un comportement, et habillez-vous et maquillez-vous dans le sens du rôle.
        Par exemple si l'on recherche une mondaine sophistiquée, ne vous présentez pas en jean troué, débardeur de camionneur et baskets. Pour ce casting relevez vos cheveux et portez une robe et des talons hauts.
        S'il s'agit d’un casting pour une émission de télévision, renseignez-vous pour savoir quel style de personnes les producteurs recherchent.
        Si vous ne correspondez pas du tout au profil, n'y allez pas ! Ne faites pas perdre du temps aux responsables des castings.
        Pour participer à certains castings, du style secret story on vous demandera d'envoyer préalablement un DVD.
        Conseillez à la personne qui vous filme d'éviter les effets artistiques et les longueurs.
        Un peu de simplicité !
        Ne lui demandez que de filmer et rien d'autre… Seuls comptent votre talent et votre personnalité.</p> <br>
    </p-accordionTab>
    <p-accordionTab header="Comment les convaincre">
      <p>Soyez drôle, soyez sympathique, souriant, agréable, et sans en faire trop, démontrez votre talent en peu de temps.
        Faites preuve d'imagination, d'originalité et de fantaisie tout en restant vous-même !
        Car si passer un casting peut ressembler à un entretien d’embauche, s'il faut prendre moment avec sérieux, ne soyez pas que sérieux!
        On a beau vous trouver la femme ou l'homme le plus séduisant et le plus génial de la terre, seul le responsable de casting devra en être convaincu.
        Et c'est triste à dire mais avant vous et après vous, dans la même journée on le mettra en présence d'hommes et de femmes, parfois des centaines, se jugeant aussi talentueux que vous.
      </p><br>
    </p-accordionTab>
    <p-accordionTab header="Vous voulez réussir votre casting ?">
      <p>Si vous devez envoyer un DVD, avant de passer un casting, n'oubliez pas de coller directement sur le disque une étiquette, où vous inscrirez votre nom, votre numéro de téléphone au feutre indélébile
        N'oubliez pas de remercier les responsables du casting qui vous ont reçu et écouté, même si vous l'avez raté !
        Pensez, après avoir passé le casting, à laisser à votre interlocuteur une cassette, une photo et un CV.
        N'oubliez pas de remercier les responsables du casting qui vous ont reçu et écouté, même si vous avez raté votre casting !
      </p><br>
    </p-accordionTab>
  </p-accordion>
</div>
