/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

@font-face {
  font-family: 'CaviarDreams' ;
  src: url('assets/fonts/caviar_dreams/CaviarDreams_Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Caviar Dreams';

}

/*général*/

body {
  background-color: #FFFDF1;
}

.all{
  margin-top:5%;
}

.page {
  min-height: 800px;
  background-image: url("assets/fond.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position-y: center;
  padding: 0;
  padding-left:10%;
  padding-right:10%;
  padding-top:2%;
}


.fleche{
  color:#EA6F6C;
}

.header h1 {
  width:100%;
  font-size: 60px;
  font-family: 'CaviarDreams';
  color: #6BBAB5;
  font-variant: all-small-caps;
  text-align:center;
  margin-bottom:8%;
}

.header{
  position:relative;
  padding:0;
}

.header a {
  font-family: 'CaviarDreams';
  font-size: 15px;
  background-color:#EA6F6C;
  cursor: pointer;
  padding:0;
  text-align:center;
  padding-top:1%;
}

.header p{
  color: #FFFDF1;
  margin:0;
  font-weight: bold;
}

body .ui-panel .ui-panel-titlebar .ui-panel-title{
  font-weight: bold;
}

.onglet{
  margin-left:6%;
  height:50px;
}

.active{
  background-color:#6BBAB5!important;
}


h3 {
  font-size: 25px;
  font-family: 'CaviarDreams';
  color: #EA6F6C;
  margin:2%;
  margin-bottom: 10%;
}

h3 i {
  color: #6BBAB5;
  margin-right: 20px;
  font-size: 50px;
}

/*infos pratiques*/

.ui-accordion-header-text {
  color: #E5625C !important;
}

.ui-accordion-header {
  background-color: #FFFDF1 !important;
  font-family: 'CaviarDreams' !important;
  border: 1px solid #E5625C !important;
}

.ui-accordion-content {
  background-color: #FFFDF1 !important;
  border: 1px solid #E5625C !important;
  border-radius: 10px !important;
}

.ui-accordion-content p {
  font-family: Verdana;
  color: #112F3B;
  font-size: 16px;
  margin-bottom: 10px;
}

.ui-accordion-content h4 {
  font-size: 20px;
  font-family: 'CaviarDreams';
  color: #6BBAB5 !important;

}

/* .ui-accordion-header-text:hover {
  text-decoration: none!important;
} */

body .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color:#E5625C !important;
  border:none!important;
  color:#ffffff!important;
}

body .ui-accordion .ui-state-active .ui-accordion-header-text {
  color:#ffffff!important;
  text-decoration:none;
}

  /*Onglet offres*/
.offres {
  display: inline-block;
  width: 100%;
  transition: 500ms all ease;
}

.ongletOffres {
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

/*recherche*/

.recherche {
  font-family: Verdana;
}

/* footer */

footer {
  height: 150px;
  width: 100%;
}

.basPage {
  background-color:#6BBAB5;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}

.basPage p {
  color: #FFFDF1;
  cursor: pointer;
}

.basPage p:hover {
  text-decoration: underline;
}

.basPage h5 {
  font-family: 'CaviarDreams';
  color: #E5625C;
  margin-bottom: 30px;
}

.packs h6 {
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 30px;
  color: #E5625C;
}

.infosBasPage h3 {
  color: #6BBAB5;
}

.infosBasPage p {
  color: #FFFDF1;
}

.descriptionPacks ul li {
  list-style-type: none;
}

.aide i {
  color: #E5625C;
  font-size: 70px;
}


/* Dataview */

body .ui-dataview .ui-dataview-header{
  background-color: #6BBAB5;
  border:none;
}

body .ui-paginator{
  background-color: #6BBAB5;
  border:none;
}

.ui-paginator-top{
  border:none;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active{
  background-color: #E5625C;
}

.imgOffres{
  width:100%;
}

body .ui-button:enabled:hover{
  background-color: #E5625C;
}

body .ui-button:enabled{
  background-color: #E5625C;
  border-color:#E5625C;
}

body .ui-dialog .ui-dialog-titlebar{
  background-color:#6BBAB5;
  color:#ffffff;
  font-weight: bold;
}

body .ui-panel .ui-panel-titlebar{
  background-color: #E5625C;
  color:#ffffff;
  font-weight: bold;
}

body .ui-panel .ui-panel-content{
  border: 1px solid #E5625C;
  border-top:none;
}

/* VERSION MOBILE */

@media (max-width: 768px) {

  h1{
    font-size:40px!important;
  }

  .header a {
    margin-right:0;
    margin:2%;
    text-align:center;
    font-size:20px;
  }

  .header p{
    color: #FFFDF1;
  }

  .header a {
    font-family: 'CaviarDreams';
    margin-right:1%;
    font-size: 15px;
    background-image: none;
    background-color:#E5625C;
    cursor: pointer;
  }

  .onglet{
    margin:0;
    height:30px;
  }

}
