<h3><i class="fas fa-book-open"></i> Offres </h3>

<p-dataView [value]="offres" #dv [paginator]="true" [rows]="8" paginatorPosition="both"
            filterBy="description_poste,libelle,description_profil,date_publication,typeDeContrat,domaineDeMetier,metier"
            [sortField]="sortField" [sortOrder]="sortOrder" [loading]="isLoading" layout="grid">
  <p-header>
    <div style="position:relative">
      <input type="search" pInputText placeholder="Search" (keyup)="dv.filter($event.target.value)">
    </div>
  </p-header>
  <ng-template let-offre pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="offre.libelle" [style]="{'text-align':'center'}">
        <img class="imgOffres" src="assets/scene.jpg">
        <br>
        <span> <b><i class="fas fa-users"></i></b>  {{offre.nombre_poste}}</span>
        <br>
        <span *ngIf="offre.typeDeContrat"> <b><i class="fas fa-list-ul"></i></b>  {{offre.typeDeContrat.code}}</span>
        <br>
        <span *ngIf="offre.metier.domaineDeMetier"><b><i class="fas fa-brush"></i></b>   {{offre.metier.domaineDeMetier.libelle}}</span>
        <hr class="ui-widget-content" style="border-top:0">
        <small>{{offre.date_publication  | date : 'dd/MM/yyyy'}}</small>
        <br>
        <button pButton type="button" icon="pi pi-search" (click)="selectOffre($event, offre)"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog header="Détails offre" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '40%'}" (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedOffre">
    <div class="ui-g-12" style="text-align:center">
      <i class="fa fa-user"></i>
    </div>
    <div class="ui-g-5">Titre:</div>
    <div class="ui-g-7">{{selectedOffre.libelle}}</div>

    <div class="ui-g-5">Date de publication:</div>
    <div class="ui-g-7">{{selectedOffre.date_publication | date : 'dd/MM/yyyy'}}</div>

    <div class="ui-g-5">Description:</div>
    <div class="ui-g-7">{{selectedOffre.description_poste}}</div>

    <div class="ui-g-5">Profil recherché:</div>
    <div class="ui-g-7">{{selectedOffre.description_profil}}</div>

    <div class="ui-g-5">Métier :</div>
    <div class="ui-g-7" *ngIf="selectedOffre.metier">{{selectedOffre.metier.libelle}}</div>

    <div class="ui-g-5">Domaine de métier :</div>
    <div class="ui-g-7" *ngIf="selectedOffre.metier.domaineDeMetier">{{selectedOffre.metier.domaineDeMetier.libelle}}</div>

    <div class="ui-g-5">Nombre de postes :</div>
    <div class="ui-g-7">{{selectedOffre.nombre_poste}}</div>

    <p-accordion>
      <p-accordionTab class="ui-g-24" header="Contacter l'organisation">

        <div >{{selectedOffre.client.nom_organisation}}</div>

        <div >{{selectedOffre.client.telephone}}</div>

        <div >{{selectedOffre.client.email}}</div>

      </p-accordionTab>
    </p-accordion>

  </div>


</p-dialog>
