<div class="container">
  <div class="row header">
    <div class="col-12 ">
      <header>
        <div class="logo col-12">
          <h1><i class="fa fa-play fleche"></i> MegaCastings</h1>
        </div>
      </header>
    </div>
    <a class="col-md-2 col-sm-12 onglet" [ngClass]="offresFull? 'active' : 'inactive'" (click)="toggleOffres()"><p>Offres</p></a>
    <span class="raccord"></span>
    <a class="col-md-2 col-sm-12 onglet" [ngClass]="fichesFull? 'active' : 'inactive'" (click)="toggleFiches()"><p>Fiches métier</p></a>
    <a class="col-md-2 col-sm-12 onglet" [ngClass]="interviewsFull? 'active' : 'inactive'" (click)="toggleInterviews()"><p>Interviews</p></a>
    <a class="col-md-2 col-sm-12 onglet" [ngClass]="conseilsFull? 'active' : 'inactive'" (click)="toggleConseils()"><p>Conseils</p></a>
  </div>


  <div class="page">

    <div *ngIf="offresFull" class="offres">
      <offres></offres>
    </div>

    <div *ngIf="conseilsFull" class="conseils">
      <conseils></conseils>
    </div>

    <div *ngIf="fichesFull" class="fiches">
      <fiches></fiches>
    </div>

    <div *ngIf="interviewsFull" class="interviews">
      <interviews></interviews>
    </div>

    <div class="infosBasPage">

      <div *ngIf="aproposFull" class="apropos">
        <h3>Qui sommes-nous ?</h3>
        <p>
          MegaProduction est une société de production créée en janvier 2003. Cette production
          officie dans plusieurs domaines culturels : le spectacle vivant, le secteur de l’image et celui
          de la musique. MegaProduction a su s’entourer de personnes qualifiées dans chacun de ces
          domaines qui aujourd’hui encore sont des partenaires proches.
        </p>
        <p>
          MegaProduction a souhaité mettre en place le site MegaCastings pour mettre en relation des entreprises et des
          artistes pour les aider et les soutenir
          dans leur recherche d’emploi.
          Ce site permet aux artistes de répondre à des annonces de castings gratuitement.
        </p>
      </div>

      <div *ngIf="packsFull" class="packs">
        <h3>Packs d'offres</h3>
        <div class="groupeItems">
          <div class="items">
            <h6>Pack 10</h6>
            <div class="descriptionPacks">
              <ul>
                <li>
                  <p>Nombre d'annonces : 10</p>
                </li>
                <li>
                  <p>Temps de diffusion : 30 jours maximum</p>
                </li>
                <li>
                  <p>Prix : 50€</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="items">
            <h6>Pack 100</h6>
            <div class="descriptionPacks">
              <ul>
                <li>
                  <p>Nombre d'annonces : 100</p>
                </li>
                <li>
                  <p>Temps de diffusion : 30 jours maximum</p>
                </li>
                <li>
                  <p>Prix : 350€</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="items">
            <h6>Pack illimité</h6>
            <div class="descriptionPacks">
              <ul>
                <li>
                  <p>Nombre d'annonces : illimité</p>
                </li>
                <li>
                  <p>Temps de diffusion : 30 jours maximum</p>
                </li>
                <li>
                  <p>Prix : 500€</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="fluxFull" class="flux">
        <h2>Obtenir les flux d'offres</h2>


      </div>

      <div *ngIf="aideFull" class="aide">
        <h3>Aide</h3>
        <a href="../assets/DocUtilisateur_clientLeger.pdf" target="_blank"><i class="far fa-file-pdf"></i><p>Cliquez sur l'image ci-dessus pour voir l'aide</p></a>

      </div>

      <div *ngIf="contactFull" class="contact">
        <h3>Nous contacter</h3>
        <p>Téléphone : 0243******</p>
        <p>Adresse mail : mega@casting.fr</p>
        <p>Adresse : 42 rue de MégaProduction - Laval</p>
      </div>

    </div>
  </div>

</div>


<footer>
  <div class="basPage">
    <div class="row">
      <div class="col-6 col-md-4">
        <h5>A propos de MegaCastings</h5>
        <p (click)="toggleApropos()">Qui sommes-nous ?</p>
      </div>
      <div class="col-6 col-md-4">
        <h5>Professionnels</h5>
        <p (click)="togglePacks()">Packs d'offres</p>
        <p (click)="toggleFlux()">Flux</p>
      </div>
      <div class="col-6 col-md-4">
        <h5>Des questions ?</h5>
        <p (click)="toggleAide()">Aide</p>
        <p (click)="toggleContact()">Nous contacter</p>
      </div>
    </div>
  </div>
</footer>
